.error {
  background-image: url(https://w0.peakpx.com/wallpaper/62/174/HD-wallpaper-shark-predator-scary-animal-shark-jaws.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
}
  
.error__img {
  border-radius: 40px 20px;
  margin-top: 300px;
  margin-left: 519px;
    
  
}
.pescadito{    
  border: 0;
  filter: drop-shadow(0 2px 16px lightgray);
  text-decoration: none;    
  transition: all .5s;
  margin-top: 834px;
  margin-left: 120px;
}
.pescadito:hover{
  filter: drop-shadow(0 2px 50px lightgray);
}

  
.error__back {
  width: 200px;
  height: 60px;   
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;   
  border-radius: 20px 40px; 
  text-decoration: none;
  color: black;    
  margin-top: -28px;
  margin-right: 194px;
  color:white;
  font-size: 1.5rem;
}

.bold {
  font-weight: 700;
  text-decoration: underline;
}

